<!DOCTYPE html>
<html>
    <head>
        <title>Departamentos</title>
        <link rel="stylesheet" href="../static/css/departamentos_home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>

    <body>
        <center>
        <h1>Departamentos</h1>
        <button onclick="window.location.href='http://localhost:8080/home/departamentos/insertar'">Insertar</button>
        <button onclick="window.location.href='http://localhost:8080/home/departamentos/actualizar'">Actualizar</button>
        <button onclick="window.location.href='http://localhost:8080/home/departamentos/eliminar'">Eliminar</button>
        <button onclick="window.location.href='http://localhost:8080/home/departamentos/departamentoall'">Ver departamentos</button>
        </center>
    </body>
</html>