<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <title>Document</title>
</head>

<body>
    <div>
        <form action="/home/departamento" class="inline">
            <button class="float-left submit-button">Departamentos</button>
        </form>
        <form action="/home/empleado" class="inline">
            <button class="float-left submit-button">Empleados</button>
        </form>
        <form action="/home/proyectos" class="inline">
            <button class="float-left submit-button">Proyectos</button>
        </form>
    </div>
</body>

</html>