<html>
    <head>
    </head>
    <body style="background-color:purple;">
     <form method="GET" action="/insertarproyectos">
    	<button type="submit">Insertar Proyecto</button>
	</form>
	 <form method="" action="">
    	<button type="submit">Actulizar Proyecto</button>
	</form>
	<form method="" action="">
    	<button type="submit">Borrar Proyecto</button>
	</form>
	<form method="" action="/proyectosall">
    	<button type="submit">Ver todos los proyectos</button>
	</form>
	<form method="" action="">
    	<button type="submit">Proyectos/Empleados</button>
	</form>

    </body>
</html>