<!DOCTYPE html>
<html>
    <head>
        <title>proyectos</title>
        <link rel="stylesheet" href="../static/css/departamentos_home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../static/js/departamentos_all.js"></script>
    </head>

    <body>
        <div>
        <center>
        <h1>Proyecto</h1>
        <button onclick="window.location.href='http://localhost:8080/home/proyectos/insertar'">Insertar</button>
        <button onclick="window.location.href='http://localhost:8080/home/proyectos/actualizar'">Actualizar</button>
        <button onclick="window.location.href='http://localhost:8080/home/proyectos/eliminar'">Eliminar</button>
         <button onclick="window.location.href='http://localhost:8080/home/proyectos/proyectosall'">Ver proyectos</button>
        </center>
        </div>
    </body>
</html>