<!DOCTYPE html>
<html>
    <head>
        <title>Empleado</title>
        <link rel="stylesheet" href="../static/css/departamentos_home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../static/js/departamentos_all.js"></script>
    </head>

    <body>
        <div>
        <center>
        <h4>Departamento empleado</h4>
        <form action="/home/departamentos/departEmpleado" method="post"><br>
        	<label for="fname">Dept_no empleado:</label><br>
  			<input type="text" id="dept_no" name="dept_no"><br>
  			<p><button type="submit">Ver</button></p>
		</form>
        </center>
        </div>
    </body>
</html>